.bg-home {
  background-image: url("./img/bg.jpg");
  height: 100vh;
  background-size: cover;
  top: 0;
}

#contact {
  background-image: linear-gradient(-20deg, #014b57 0%, #001725 100%);
  height: 90vh;
  display: flex;
  align-items: center;
}
footer {
  background-color: #1a1a1a;
}

footer hr {
  width: 100px;
  background-color: #ffffff;
  height: 2px;
}

#aboutus {
  background-image: linear-gradient(-20deg, #014b57 0%, #014753 100%);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}
.btn-primary {
  background-color: #001725 !important;
  border: none !important;
}

.publicApi {
  background-color: #002634;
  height: 100vh;
}
